.container{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 font-family: sans-serif;
}

.box{
 display: flex;
 width: 80px;
 height: 80px;
 border-right: 2px solid grey;
 border-bottom:2px solid grey;
 justify-content: center;
 line-height:80px;
}

.box:nth-child(3n){
 border-right: none;
}
   
.box:nth-child(n+7){
 border-bottom: none;
}
    
.board{
 display: flex;
 flex-wrap:wrap;
 width: 260px; 
 margin-top: 5px;
 border-radius: 5%;
 background-color: #F8F8F8;
 justify-content: center;
}

.xLabel{
 font-size: 6em;
 background-color:white;
 background-image: linear-gradient(
 45deg, 
 #1877F2 59%,
 #18cef2 20%,
 #18b8f2 30%,
 #48D1CC 30%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent; 
 -moz-background-clip: text;
 -webkit-text-fill-color: transparent; 
 -moz-text-fill-color: transparent;
 margin: 0 ;
}

.oLabel{
 font-size: 6em;
 background-color:orange;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent; 
 -moz-background-clip: text;
 -webkit-text-fill-color: transparent; 
 -moz-text-fill-color: transparent;
 margin: 0 ;
 }

.button{
 padding:0.3em 1.2em;
 margin: 1em 1em 1em 0;
 border-radius:2em;
 font-family: sans-serif;
 font-weight:300;
 text-align:center;
 transition: all 0.2s;
 border:0.16em solid rgba(0,0,0,0);
 }
      
 .button:hover{
 background-color:#1877F2;
 }

.players{
 display: flex;
 justify-content: space-between;
 }
  
 .mainText{
 margin-top: 10em;
 display: flex;
 align-items: center;
 justify-content: center;
 }

 .player{
 margin-top: 2em;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 font-family: sans-serif;
 }
    
 .text{
 margin-top:5em;
 }
   
 .label{
 margin-top: 10rem;
 display: flex;
 }

 .players{
 display: flex;
 justify-content: space-between;
}
  
 .mainText{
 margin: 10em 0em 5em 0em ;
 display: flex;
 align-items: center;
 justify-content: center;
  }

.input{
 margin: 0 0 0 2.2em ;
}